* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template: "section main" 1fr/235px 340px;
  border: 1px solid black;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border: none;
}
/* section1 */
section {
  grid-area: section;
  display: flex;
  justify-content: center;
}

.section_img {
  height: 200px;
  object-fit: cover;
}
/* main section */
main {
  grid-area: main;
  padding: 0.8rem;
}
.product_details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.free-shipping {
  width: 100px;
  height: 25px;
  font-size: 0.7rem;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.product-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2e2e2e;
}
.price {
  display: flex;
  flex-direction: column;
}
.original-price {
  text-decoration: line-through;
  text-decoration-color: #797878;
}
.sale-price {
  font-size: 2rem;
  font-weight: 900;
  color: #2e2e2e;
}
.offer-validtxt {
  font-size: 0.7rem;
  color: #777;
}
.add-to-cart {
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 0px #1b4097;
  background-color: #306eff;
  margin-bottom: 1rem;
}
.add-to-cart a {
  color: white;
  text-decoration: none;
}
.stock-info {
  font-weight: bolder;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
}
.btn-actions {
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.action-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #d2c8c8;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  font-weight: bold;
}
.btn-actions a {
  text-decoration: none;
  color: black;
}
.action-btn-wishlist a {
  text-decoration: none;
  color: black;
}
.action-btn-wishlist {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid#d2c8c8;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  font-weight: bold;
}
@media (max-width: 479.9px) {
  .container {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* section1 */
  .section_img {
    height: 150px;
    width: 150px;
  }

  /* main section */
  .free-shipping {
    min-width: 300px;
    min-height: 35px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .product-title {
    font-size: 1rem;
    text-align: center;
  }
  .price {
    gap: 0.2rem;
    margin-bottom: 0.1rem;
    align-items: center;
  }
  .sale-price {
    font-size: 1.1rem;
  }
  .btn-actions {
    display: flex;
    justify-content: space-around;
  }
  .action-btn {
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .action-btn-wishlist {
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .offer-validtxt {
    font-size: 0.8rem;
    text-align: center;
  }
  .add-to-cart {
    height: 35px;
  }
}
@media (min-width: 480px) and (max-width: 767.9px) {
  .container {
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  /* section1 */
  .section_img {
    height: 180px;
    width: 180px;
  }
  /* main section */
  .free-shipping {
    width: 300px;
    height: 35px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .product-title {
    font-size: 1rem;
    text-align: center;
  }
  .btn-actions {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  .action-btn {
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .action-btn-wishlist {
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .offer-validtxt {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 3rem;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }
  /* section1 */
  .section_img {
    min-height: 150px;
    min-width: 150px;
  }
  /* main section */
  .product_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
  }
  .free-shipping {
    width: 320px;
    height: 35px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .product-title {
    font-size: 1rem;
    text-align: center;
  }
  .price {
    display: flex;
    align-items: center;
  }
  .sale-price {
    font-size: 1.5rem;
  }
  .btn-actions {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
  }
  .action-btn {
    width: 150px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .action-btn-wishlist {
    width: 150px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 900;
  }
  .offer-validtxt {
    font-size: 0.8rem;
    text-align: center;
  }
}
